{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">

{% block title %}
BU Clubs
{% endblock %}

{% block heading %}
BENNETT UNIVERSITY CLUBS
{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}

<head>
</head>

<body>
    {% block body %}
    <article>
        {% for club in CLUBS %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <a href="/clubs/{{CLUBS[club]['endpoint']}}/home" target="_blank">
                    <h5 class="card-title" style="color:black;"><b>{{ CLUBS[club]['name'] }}</b></h5>
                </a>
                <a href="/clubs/{{CLUBS[club]['endpoint']}}/events" class="card-link"><input type="button"
                        value="EVENTS"></a>
                <a href="/clubs/{{CLUBS[club]['endpoint']}}/admin/login" class="card-link"><input type="button"
                        value="ADMIN LOGIN"></a>
            </div>
        </div>
        {% endfor %}
    </article>
    {% endblock %}

</body>

</html>