{% extends "layout.html" %}

{% block title %}
Admin Panel : {{ CLUBS[name_of_club]['name'] }}
{% endblock %}

{% block heading %}
'{{ CLUBS[name_of_club]['name'] }}' Admin Panel <a href="/clubs/{{name_of_club}}/admin/logout">LOGOUT</a>
{% endblock %}



<html>

<body>
    {% block body %}
    <a href="/clubs/{{CLUBS[name_of_club]['endpoint']}}/admin/add"><input type="button" value="ADD NEW EVENT"></a>

    {% if CLUBS[name_of_club]['total-announcements']!=0 %}
    <br /><br /><br /><br />
    <h1>ANNOUNCEMENTS</h1>

    {% for event in CLUBS[name_of_club]['announcements'] %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><b>{{CLUBS[name_of_club]['name']}}</b></h5>
            <p class="card-text" style="color:black;">{{event['description']}}</p>
            <h6 class="card-subtitle mb-2"><b>Date : </b>{{event['date']}}</h6>
            <h6 class="card-subtitle mb-2"><b>Time : </b>{{event['time']}}</h6>
            <h6 class="card-subtitle mb-2"><b>Venue : </b>{{event['venue']}}</h6>
            <h6 class="card-subtitle mb-2"><b>Event ID : </b>{{event['id']}}</h6>

            <a href="/clubs/{{CLUBS[name_of_club]['endpoint']}}/admin/modify/{{event['id']}}" class="card-link"><input
                    type="button" value="MODIFY"></a>
            <a href="/clubs/{{CLUBS[name_of_club]['endpoint']}}/admin/delete/{{event['id']}}" class="card-link"><input
                    type="button" value="DELETE"></a>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% endblock %}
</body>

</html>