{% extends "layout.html" %}

{% block title %}
BU Club : {{ CLUBS[name_of_club]['name'] }}
{% endblock %}


{% block heading %}
WELCOME TO '{{ CLUBS[name_of_club]['name'] }}'
{% endblock %}

{% block body %}
{{ CLUBS[name_of_club]['description'] }}

{% if show_events==1 %}

{% if CLUBS[name_of_club]['total-announcements']!=0 %}
<br /><br /><br /><br />
<h1>ANNOUNCEMENTS</h1>

{% for event in CLUBS[name_of_club]['announcements'] %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><b>{{CLUBS[name_of_club]['name']}}</b></h5>
        <p class="card-text" style="color:black;">{{event['description']}}</p>
        <h6 class="card-subtitle mb-2 text-muted">Date : {{event['date']}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Time : {{event['time']}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Venue : {{event['venue']}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Event ID : {{event['id']}}</h6>

        <a href="/clubs/{{name_of_club}}/events/add-to-fav/{{event['id']}}" class="card-link"><input type="button"
                value="INTERESETED"></a>
    </div>
</div>
{% endfor %}
{% endif %}

{% if CLUBS[name_of_club]['total-announcements']==0 %}
<h1>NO EVENTS</h1>
{% endif %}

{% endif %}
{% endblock %}