* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background: #262626;
  color: white;
}
a {
  color: white;
}
section[class="content"] {
  padding-top: 100px;
  width: 95%;
  justify-content: center;
  margin: 0 auto;
}
.card {
  float: left;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.card .card-body .card-title,
.card .card-body .card-link {
  color: black;
}

input[type="button"] {
  background-color: yellow;
  border: 2px solid black;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 3px #999;
  transition: 0.2s;
}
input[type="button"]:hover {
  font-weight: bold;
}

input[type="button"]:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
