{% extends "layout.html" %}
<html>

{% block title %}
BU : Admin Login
{% endblock %}

{% block heading %}
ADMIN LOGIN : {{ name }}
{% endblock %}

<head>
    <meta charset="utf-8">
    {% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/login-page-style.css">
    {% endblock %}
</head>
<html>

<body>
    {% block content %}
    <div class="box">
        <h2>Admin Login</h2>
        <form method="POST">
            <div class="inputBox">
                {{ form.password.label }}
                {{ form.password }}
            </div>
            <input type="submit" name="" value="SUBMIT">
        </form>
    </div>
    {% endblock %}
</body>

</html>